<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>MFer</title>

        <!-- Bootstrap -->
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link rel="stylesheet" href="/static/css/tailwind/tailwind.min.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Outfit:wght@500;600;700&display=swap"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="shuffle-for-tailwind.png"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"
            defer
        ></script>
        {% block css %} {% endblock%}
    </head>
    <body class="antialiased bg-body text-body font-body">
        <section x-data="{ mobileNavOpen: false }" class="overflow-hidden">
            <div
                :class="{'block': mobileNavOpen, 'hidden': !mobileNavOpen}"
                class="hidden fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50"
            >
                <div
                    x-on:click="mobileNavOpen = !mobileNavOpen"
                    class="fixed inset-0 bg-gray-800 opacity-80"
                ></div>
                <nav class="relative z-10 px-9 py-8 bg-white h-full">
                    <div class="flex flex-wrap justify-between h-full">
                        <div class="w-full">
                            <div class="flex items-center justify-between -m-2">
                                <div class="w-auto p-2">
                                    <a class="inline-block" href="/">
                                        Mfer Tumor Model
                                    </a>
                                </div>
                                <div class="w-auto p-2">
                                    <button
                                        x-on:click="mobileNavOpen = !mobileNavOpen"
                                    >
                                        <svg
                                            width="24"
                                            height="24"
                                            viewbox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg"
                                        >
                                            <path
                                                d="M6 18L18 6M6 6L18 18"
                                                stroke="#111827"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            ></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col justify-center py-8 w-full">
                            <ul>
                                <li
                                    class="font-heading mb-9 text-gray-900 hover:text-gray-700 text-lg"
                                >
                                    <a href="/#how-it-works"> How it Works </a>
                                </li>
                                <li
                                    class="font-heading mb-9 text-gray-900 hover:text-gray-700 text-lg"
                                >
                                    <a href="/#credits"> Credit </a>
                                </li>
                            </ul>
                        </div>
                        <div class="flex flex-col justify-end w-full">
                            <div class="flex flex-wrap">
                                <div class="w-full mb-3">
                                    <button
                                        class="p-0.5 font-heading block w-full text-lg text-gray-900 font-medium rounded-10"
                                    >
                                        <div class="py-2 px-5 rounded-10">
                                            <a
                                                href="/#predict"
                                                class="relative z-10 group-hover:text-white"
                                            >
                                                Try for free
                                            </a>
                                        </div>
                                    </button>
                                </div>
                                <div class="w-full h-full min-h-[100vh]">
                                    <button
                                        class="group relative p-0.5 font-heading block w-full text-lg text-gray-900 font-medium bg-gradient-cyan overflow-hidden rounded-10"
                                    >
                                        <div
                                            class="absolute top-0 left-0 transform -translate-y-full group-hover:-translate-y-0 h-full w-full bg-gradient-cyan transition ease-in-out duration-500"
                                        ></div>
                                        <div
                                            class="py-2 px-5 bg-white rounded-lg"
                                        >
                                            <p class="relative z-10">
                                                Recheck Result (coming soon)
                                            </p>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>

        <section
            x-data="{ mobileNavOpen: false }"
            class="relative bg-gradient-white background-animate overflow-hidden min-h-screen"
        >
            <section>
                <div class="flex items-center justify-between px-8 py-5">
                    <div class="w-auto">
                        <div class="flex flex-wrap items-center">
                            <div class="w-auto mr-14">
                                <a href="/" class="font-bold">
                                    Mfer Predictor
                                </a>
                            </div>
                            <div class="w-auto hidden lg:block">
                                <ul class="flex items-center mr-10">
                                    <li
                                        class="font-heading mr-9 text-gray-900 hover:text-gray-700 text-lg"
                                    >
                                        <a href="/#how-it-works">
                                            How it Works
                                        </a>
                                    </li>
                                    <li
                                        class="font-heading mr-9 text-gray-900 hover:text-gray-700 text-lg"
                                    >
                                        <a href="/#credits"> Credit </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-auto">
                        <div class="flex flex-wrap items-center">
                            <div class="w-auto hidden lg:block">
                                <div class="flex flex-wrap">
                                    <div class="w-auto">
                                        <button
                                            class="font-heading block py-2 px-5 mr-5 text-lg text-gray-900 rounded-10"
                                        >
                                            Recheck Result (coming soon)
                                        </button>
                                    </div>
                                    <div class="w-auto">
                                        <button
                                            class="group relative font-heading block py-2 px-5 text-lg text-gray-900 border-2 border-gray-900 overflow-hidden rounded-10"
                                        >
                                            <div
                                                class="absolute top-0 left-0 transform -translate-y-full group-hover:-translate-y-0 h-full w-full bg-gray-900 transition ease-in-out duration-500"
                                            ></div>
                                            <a
                                                href="/#predict"
                                                class="relative z-10 group-hover:text-white"
                                            >
                                                Try for free
                                            </a>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="w-auto lg:hidden">
                                <button
                                    x-on:click="mobileNavOpen = !mobileNavOpen"
                                >
                                    <svg
                                        class="text-gray-800"
                                        width="51"
                                        height="51"
                                        viewbox="0 0 56 56"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <rect
                                            width="56"
                                            height="56"
                                            rx="28"
                                            fill="currentColor"
                                        ></rect>
                                        <path
                                            d="M37 32H19M37 24H19"
                                            stroke="white"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% include "header.html" %} {% block main %}{% endblock %}
            </section>
        </section>
        <footer>
            <div class="container">{% include "footer.html" %}</div>
        </footer>
        {% block js %} {% endblock%}
        <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    </body>
</html>
